<div style="background-color: aliceblue; height: 100%">
  <button class="btn-back mt-2 mx-4" onclick="history.back()">Go Back</button>
  <div class="container mt-2">
    <div class="form-register">
      <h2 class = "title-form" >Create phone</h2>
      <form [formGroup]="phoneForm" (ngSubmit)="save()">
        <div>
          <label for="nombre">Name:</label>
          <input id="nombre" formControlName="nombre" />
        </div>
        <div>
          <label for="modelo">Model:</label>
          <input id="modelo" formControlName="modelo" />
        </div>
        <div>
          <label for="data">Specifications:</label>
          <input id="data" formControlName="data" />
        </div>
        <div>
          <label for="imageUrl">Image URL:</label>
          <input id="imageUrl" formControlName="image_url" />
        </div>
        <div>
          <label for="pais">Country:</label>
          <select id="pais" formControlName="pais">
            <option value="" disabled selected>Seleccionar país</option>
            <option *ngFor="let item of paises" [ngValue]="item">
              {{ item.nombre }}
            </option>
          </select>
        </div>
        <div>
          <label for="estado">State:</label>
          <select id="estado" formControlName="estado">
            <option value="" disabled selected>Seleccionar estado</option>
            <option *ngFor="let item of estados" [ngValue]="item">
              {{ item.nombre }}
            </option>
          </select>
        </div>
        <div>
          <label for="price">Price$:</label>
          <input type="number" id="price" formControlName="price" />
        </div>
        <div style="display: flex; justify-content: flex-end">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
