<!-- card-detail.component.html -->
<div class="d-flex" style="justify-content: flex-end">
  <button class="btn btn-terciary" (click)="close()">X</button>
</div>
<div class="d-flex" style="justify-content: center; align-items: center">
  <img style="    margin-top: -91px;" [src]="celular.display.image" class="card-img-top" alt="Phone Image" />
  <div class="card-body">
    <h3 class="card-title"><strong>{{ celular.brand }} {{ celular.model }}</strong></h3>
    <p class="card-text"><strong>Display Size:</strong> {{ celular.display.size }}</p>
    <p class="card-text">
      <strong>Storage:</strong> {{ celular.storage.internal }}GB Internal{{
        celular.storage.external ? ", Expandable" : ""
      }}
    </p>
    <p class="card-text">
      <strong>Cameras:</strong> Front {{ celular.cameras.front }}MP, Rear
      {{ celular.cameras.rear }}MP
    </p>
    <p class="card-text"><strong>Battery Capacity:</strong> {{ celular.battery.capacity }}mAh</p>
    <p class="card-text"><strong>Operating System:</strong> {{ celular.operatingSystem }}</p>
    <button class="btn btn-secondary">
      <strong>Price:</strong> ${{ celular.price }}
    </button>
</div>

</div>
<div class="card-footer d-flex mx-8 " style=" margin-top: -37px;
margin-left: 100px;" >
  <button class="btn btn-primary" (click)="agregarAlCarrito(celular)" [disabled]="esProductoEnCarrito(celular)">
    <mat-icon  matTooltip="Añadir al carrito">shopping_cart</mat-icon>
  </button>
</div>
