<div class="page-container-about">
  <div>
    <button class="btn-back" id="btn-back" onclick="history.back()"> Volver</button>
  </div>
    <h1>¡Hola, Soy Mauro!</h1>
  
    <p>Bienvenido a <strong>PhoneStore</strong></p>
  
    <p>Me complace presentarte  un proyecto 
    <p>Este proyecto esta siendo desarrollado utilizando tecnologías modernas como Bootstrap, Angular, TypeScript, y Material Design.</p>
  
    <p>¡Gracias por visitar PhoneStore! Espero que encuentres el dispositivo perfecto para tus necesidades.</p>
  
    <p>¡Haz tu pedido hoy y experimenta la tecnología de manera emocionante!</p>
  </div>