<div class="page-container-about">
    <h1>¡Hola, Soy Mauro!</h1>
  
    <p>Bienvenido a <strong>PhoneStore</strong></p>
  
    <p>Me complace presentarte  un proyecto que nació como parte de un desafío para una propuesta laboral. Este desafío me permitió fusionar mi pasión por la tecnología y la innovación en la creación de esta plataforma única.</p>
  
    <p>Este proyecto ha sido desarrollado utilizando tecnologías modernas como Bootstrap, Angular, TypeScript, y Material Design.</p>
  
    <p>¡Gracias por visitar PhoneStore! Espero que encuentres el dispositivo perfecto para tus necesidades.</p>
  
    <p>¡Haz tu pedido hoy y experimenta la tecnología de manera emocionante!</p>
  </div>