
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(233, 233, 233, 0.92);
  border-radius: 10%;

}

.Cardphones {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  width: 40vw; 
}

.card-body-principal {
  display: flex;
  justify-content: flex-start; 
  width: 100%; 
  
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-iphone12 {
  padding: 10px;
  max-width: 80%;
  height: auto;
  border-radius: 8px;
  filter:drop-shadow(
    0 0 10px rgba(0,0,0,.8)
  )
}

.img-iphone12:hover{
  padding: 0;
}

.title-phone-card {
  margin-top: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.phones_adds {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  width: 100%; 
  padding: 1em; 
}

.add-phone-form-img{
    width: 60%; 
    height: auto; 
  filter:drop-shadow(
    0 0 10px rgba(0,0,0,.8)
  )

}


.card-container-adds {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 10%;

}




/* section stock  */
.stock{
  background-color: #fffffffd
}

.title-section{
  padding: 10px;
  font-size: 2em;
  display: flex;
  justify-content: flex-start;

}
.imgcec{
  /*  para que las imagines esten todas alineadas a la misma altura  */
  height: 250px;
  width: 250px;
  object-fit: cover;
  /*  para elimimar el fondo de las imagenes  */
  filter:brightness(1.1);
  mix-blend-mode:multiply;
  }



  .phone-card-container {
    /* contenedor de cada tarjeta */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    transition: transform 0.2s;
  }

  .phone-card-container:hover {
    transform: translateY(-5px);
  }
  
  


  .add-product-section {
    background-color: #f8f9fa;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .add-product-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .add-product-section p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .add-product-section .btn {
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .add-product-section .btn:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
  }