.section-img-details {
  padding: 20px;
}

.phone-portada {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-iphone12 {
  width: 100%;
  max-width: 500px; /* Aumenta el tamaño máximo de la imagen */
  height: auto;
}

.texto-columna {
  padding: 20px;
}

@media (max-width: 768px) {
  .phone-portada {
    margin-bottom: 20px;
  }

  .img-iphone12 {
    max-width: 80%;
  }
}

.stock {
  padding: 20px;
}

.phones_adds {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.phone-card-container {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 200px;
  width: 100%;
}

.imgcec {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.add-product-section {
  padding: 20px;
  text-align: center;
}

.add-product-section .btn-primary {
  margin-top: 15px;
}
