<section class="section-img-details">
  <div class="mt-3 row">
    <div class="phone-portada col-md-6">
      <div ngClass="mx-3"></div>
      <div class="card-container mx-3">
        <h2 class="card-title"></h2>
        <div class="Cardphones">
          <img
            *ngIf="isImageVisible"
            class="img-iphone12"
            src="../../assets/pngimg.com - iphone_12_PNG3.png"
            alt="iphone12"
          />
        </div>
      </div>
    </div>
    <div class="description-phone col-md-6 texto-columna mt-5">
      <div>
        <h2>Experience Excellence with the iPhone 12 Pro</h2>
        <p>
          Discover why the iPhone 12 Pro is the ideal choice for your mobile
          experience:
        </p>
        <ol>
          <li>
            <strong>Advanced Technology:</strong> Enjoy the power and elegance
            with its Super Retina XDR display and professional camera system.
          </li>
          <li>
            <strong>Stunning Photos and Videos:</strong> Capture unforgettable
            moments with its professional camera system and Night mode.
          </li>
          <li>
            <strong>Superior Performance:</strong> Equipped with the A14 Bionic
            chip for exceptional performance in any task.
          </li>
          <li>
            <strong>Elegant and Durable Design:</strong> Its stainless steel and
            glass design ensures water and dust resistance.
          </li>
          <li>
            <strong>Unmatched User Experience:</strong> Take your mobile
            experience to the next level with Apple's convenience and
            innovation.
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="stock mt-5">
  <h2 class="title-section"> Products</h2>
  <div class="phones_adds mx-3">
    <div *ngFor="let item of phones" class="phone-card-container">
      <div>
        <button class="btn btn-secondary">shop</button>
      </div>
      <img class="img-phone" [src]="item?.image_url" alt="{{ item.nombre }}" />
      <p class="title-phone-card">{{ item.nombre }}</p>
      <p class="title-phone-card">${{ item.price }}</p>
    </div>
  </div>
</section>

<section class="add-product-section mt-5">
  <div class="container text-center">
    <h2>Want to add your product to the stock?</h2>
    <p>
      It's quick and easy! Just click the button below and complete the form to
      add your product. 
    </p>
    <a routerLink="/form" class="btn btn-primary">Add Product</a>
  </div>
</section>
