.img-iphone12 {
  width: 100%;
  max-width: 500px; 
  height: auto;
  opacity: 0; /* Ocultar imagen inicialmente */
  transform: translateY(20px); /* Mover imagen hacia abajo inicialmente */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Transición para la opacidad y el movimiento */
}

.img-iphone12.visible {
  opacity: 1; /* Mostrar imagen */
  transform: translateY(0); /* Volver a su posición original */
}


.animation-scroll{
  opacity: 0; /* Ocultar imagen inicialmente */
  transform: translateY(20px); /* Mover imagen hacia abajo inicialmente */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Transición para la opacidad y el movimiento */

}

.phone-portada {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto-columna {
  padding: 20px;
}

@media (max-width: 768px) {
  .phone-portada {
    margin-bottom: 20px;
  }

  .img-iphone12 {
    max-width: 80%;
  }
}

.stock {
  padding: 20px;
}

.phones_adds {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.phone-card-container {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 200px;
  width: 100%;
}

.img-phone {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.add-product-section {
  padding: 20px;
  text-align: center;
  background-color: whitesmoke;
}

.add-product-section .btn-primary {
  margin-top: 15px;
}
