<section class="section-img-details">
  <div class="mt-3 row">
    <!-- Columna izquierda con la imagen -->
    <div class="phone-portada col-md-6">
      <div ngClass="mx-3" *ngIf="selectedCellphone"></div>
      <div class="card-container mx-3">
        <h2 class="card-title"></h2>
        <div class="Cardphones">
          <img
            class="img-iphone12"
            src="../../assets/pngimg.com - iphone_12_PNG3.png"
            alt="iphone12"
          />
        </div>
      </div>
    </div>

    <!-- Columna derecha -->
    <div class="animation-scroll col-md-6 texto-columna mt-5">
      <div>
        <h2>Experimenta la Excelencia con el iPhone 12 Pro</h2>
        <p>
          Descubre por qué el iPhone 12 Pro es la elección ideal para tu
          experiencia móvil:
        </p>
        <ol>
          <li>
            <strong>Tecnología Avanzada:</strong> Disfruta de la potencia y
            elegancia con su pantalla Super Retina XDR y sistema de cámara
            profesional.
          </li>
          <li>
            <strong>Fotos y Videos Impresionantes:</strong> Captura momentos
            inolvidables con su sistema de cámara profesional y modo Noche.
          </li>
          <li>
            <strong>Rendimiento Superior:</strong> Equipado con el chip A14
            Bionic para un rendimiento excepcional en cualquier tarea.
          </li>
          <li>
            <strong>Diseño Elegante y Duradero:</strong> Su diseño en acero
            inoxidable y vidrio garantiza resistencia al agua y al polvo.
          </li>
          <li>
            <strong>Experiencia de Usuario Incomparable:</strong> Lleva tu
            experiencia móvil al siguiente nivel con la comodidad y la
            innovación de Apple.
          </li>
        </ol>
        <p>¡Descubre todo lo que el iPhone 12 Pro puede hacer por ti!</p>
      </div>
    </div>
  </div>
</section>

<section class=" stock mt-5">
  <div class="title-section">Productos</div>
  <div class="phones_adds mx-3">
    <div *ngFor="let item of phones" class="phone-card-container">
      <img class="imgcec" [src]="item?.image_url" alt="{{ item.nombre }}" />
      <p class="title-phone-card">{{ item.nombre }}</p>
    </div>
  </div>
</section>

<section class="add-product-section mt-5">
  <div class="container text-center">
    <h2>¿Quieres agregar tu producto al stock?</h2>
    <p>¡Es fácil y rápido! Simplemente haz clic en el botón a continuación y completa el formulario para añadir tu producto.</p>
    <a routerLink="/form" class="btn btn-primary">Agregar Producto</a>
  </div>
</section>