<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PhoneStore Home</title>
    <link rel="stylesheet" />
  </head>
  <body>
    <app-navbar></app-navbar>
    <div class="welcome-video-wall-container">
      <div class="welcome-video-content-container">
        <video
        class="welcome-video-video"
        autoplay
        muted
        loop
        playsinline
        preload="none"
      >
        <source src="../../assets/video-muestra.mp4" type="video/mp4">
        <source src="../../assets/video-muestra.webm" type="video/webm">
        <source src="../../assets/video-muestra.ogv" type="video/ogg">
        Tu navegador no soporta la reproducción de video.
      </video>
      </div>
    </div>
    <app-card></app-card>
  </body>
</html>
