<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PhoneStore Home</title>
    <link rel="stylesheet" />
  </head>
  <body>
    <app-navbar></app-navbar>
    <div class="welcome-video-wall-container">
      <div class="welcome-video-content-container">
        <video
          class="welcome-video-video"
          [autoplay]="true"
          preload="none" 
          [muted]="true"
          [loop]="true"
          src="../../assets/video-muestra.mp4"
        ></video>
      </div>
    </div>
    <app-card></app-card>
  </body>
</html>
