.container {
  margin: 0;
  padding: 0;
}

.welcome-video-wall-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  background-color: #000; /* Color de fondo opcional */
  overflow: hidden;
  position: relative;
}

.welcome-video-content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.welcome-video-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que el video cubra todo el área sin distorsión */
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .welcome-video-wall-container {
    height: 100vh; /* Asegura que el contenedor sigue ocupando toda la pantalla */
  }

  .welcome-video-video {
    object-fit: cover; /* Asegura que el video cubra todo el área sin distorsión */
  }
}

@media (max-width: 480px) {
  .welcome-video-wall-container {
    height: 100vh; /* Asegura que el contenedor sigue ocupando toda la pantalla */
  }

  .welcome-video-video {
    object-fit: cover; /* Asegura que el video cubra todo el área sin distorsión */
  }
}
