<nav class="navbar" >
  <div class="navbar-title">
    <div class="brand">
      <h1 style="color: aliceblue; font-size: 1.2em;">
        <a style="text-decoration: none;color: rgb(0, 0, 0);" href="#home">Phone & Mg</a>
        
      </h1>
    </div>
  </div>

  <div class="nav_items">
      <a  routerLink="" routerLinkActive="active"style="color: rgb(0, 0, 0); text-decoration: none; font-size: 1.1rem;">Inicio </a>
      <a routerLink="/about" routerLinkActive="active" style="color: rgb(0, 0, 0); text-decoration: none;font-size: 1.1rem;">Acerce de </a>
      <a routerLink="/form" routerLinkActive="active" style="color: rgb(0, 0, 0); text-decoration: none;font-size: 1.1rem;">Formulario</a>
    </div>

  <div class="nav_toggle">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>


