<nav class="navbar">
  <div class="logo-container">
    <div class="logo">MG</div>
    <div class="slogan mx-2">Conectando tu Mundo</div>
  </div>

  <div class="nav_items" [class.open]="isMenuOpen">
    <a
      routerLink=""
      routerLinkActive="active"
      style="color: rgb(0, 0, 0); text-decoration: none; font-size: 1.1rem"
      >Inicio
    </a>
    <a
      routerLink="/about"
      routerLinkActive="active"
      style="color: rgb(0, 0, 0); text-decoration: none; font-size: 1.1rem"
      >Acerce de
    </a>
    <a
      routerLink="/form"
      routerLinkActive="active"
      style="color: rgb(0, 0, 0); text-decoration: none; font-size: 1.1rem"
      >Formulario</a
    >
  </div>

  <div class="nav_toggle" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>
