<!-- navbar.component.html -->
<nav class="navbar" [ngClass]="{'scrolled': scrolled}">
  <div class="navbar-title" [ngClass]="{'scrolled-title': scrolled}">
    PhoneStore
    <mat-icon class="animated-icon" style="vertical-align: middle; margin-bottom: 3px;">phone_iphone</mat-icon>
  </div>
  <div class="nav-list">
    <button class="btn btn-primary mx-2" routerLink="/" routerLinkActive="active">Home</button>
    <button class="btn btn-primary mx-2" routerLink="/about" routerLinkActive="active">About</button>
    <button class="navbar-cart btn btn btn-light" routerLink="/store" routerLinkActive="active" (click)="onToggleCart()">
      <mat-icon>shopping_cart</mat-icon>
      <span class="badge">{{ cantidadProductosEnCarrito }}</span>
    </button>
  </div>
</nav>
